*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: none; 
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: white;
}

header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("../media/bgimage.jpg") center no-repeat;
	background-size: cover;
	position: relative; 
	overflow: hidden;
	padding-top: 5em;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000; 
	display: none;
}
.fixed-style {
	position: fixed;
    top: 0;
    right: 0;
	left: 0;
	z-index: 0;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
	margin-top: 5rem;
}

.navbar-brand{
	font-size: 3rem;
	font-weight: 700;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.navbar-brand span{
	color: #dc143c;
}

.main-logo{
	height: 300px;
}

nav ul{
	display: flex;
}

nav ul li{
	font-weight: 700;
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li:nth-child(5){
	animation-delay: 2s;
}

nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.navbar.scrolled {
	margin-top: 0;
	background: rgba(1, 1, 1, 0.8);
	transition: background 500ms;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
	display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

.landing-content{
	z-index: 1;
	color: white;
	font-size: 6rem;
	margin: 0 auto;
	width: fit-content;
}

/* Events Section Styling */

.heading{
	width: fit-content;
	margin: 20px auto;
	background-color: #463333;
	padding: 20px 50px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}


/* Section Styling */


.heading{
	width: fit-content;
	margin: 20px auto;
	background-color: #463333;
	padding: 20px 50px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
}

.display{
	font-weight: 800;
	color: white;
	font-size: 3rem;
}

/* Events Section */

#myCarousel .carousel-item .mask {
	/* The carousel container takes now all the height of the leaflet by removing the absolute position */
    /* position: absolute; */
    top: 0;
	left:0;
	height:100%;
    width: 80%; /*reduced the width, more responsive*/
	background-attachment: fixed;
	padding: 1% 0;
}
#myCarousel h4{
	font-size:50px;
	margin-bottom:15px;
	color:#000;
	line-height:100%;
	letter-spacing:0.5px;
	font-weight:600;
}
#myCarousel p{
	font-size:18px;
	margin-bottom:15px;
	color:#fff;
}
#myCarousel .carousel-item a{background:#065446; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#000; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; width: 67vh;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{
	-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:620px; }
#myCarousel{position:relative; /* z-index: 10; */background-color:  rgba(236, 181, 62, 0.95); }

.carousel-control-next, .carousel-control-prev{height:80px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/************ Quiz Section Styling ************/
#quiz {
	font-family: 'Lato', georgia;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(236, 181, 62, 0.95);
	text-align: center;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	padding-top: 1%;
	margin-top: 2%;
  }
#contact-form {
	max-width: 90%;
	margin: 0 auto;
  }
  
  label {
	font-weight: 400;
	cursor: pointer;
  }
  
  textarea,
  input {
	border: none;
	outline: none;
	border-radius: 0;
	text-align: center;
	background: none;
	font-weight: 700;
	font-family: 'Lato', georgia;
	font-size: 25px;
	color: rgba(255, 255, 255, 1);
	max-width: 90%;
	padding: 1rem;
	border: 2px dashed rgba(255, 255, 255, 0);
	box-sizing: border-box;
	cursor: text;
  }
  
  textarea {
	text-align: left;
	/* overflow:hidden; */
	
	resize: none;
	width: 90%;
	border-color: rgba(255, 255, 255, 0)
  }
  
  textarea:focus {
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px dashed rgba(255, 255, 255, 1);
  }
  
  textarea:focus:required:valid {
	border: 2px solid rgba(255, 255, 255, 0);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  textarea:required:valid {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  input {
	border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  }
  
  input:required,
  textarea:required {
	border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  }
  
  input:focus {
	border-bottom: 2px dashed rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.2);
  }
  
  input:required:valid {
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  input:required:invalid {
	color: rgba(255, 255, 255, 0.5);
  }
  
  ::-webkit-input-placeholder {
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-style: italic;
	font-weight: 400;
  }
  
  :-moz-placeholder {
	/* Firefox 18- */
	
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-style: italic;
	font-weight: 400;
  }
  
  ::-moz-placeholder {
	/* Firefox 19+ */
	
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-style: italic;
	font-weight: 400;
  }
  
  :-ms-input-placeholder {
	text-align: center;
	color: rgba(255, 255, 255, 0.4);
	font-style: italic;
	font-weight: 400;
  }
  
  .expanding {
	vertical-align: top;
  }
  
  .send-icn {
	fill: rgba(255, 255, 255, 1)
  }
  
  .send-icn:hover {
	fill: rgba(0, 0, 0, 1);
	cursor: pointer;
  }
  
  button {
	background: none;
	border: none;
	outline: none;
	margin: 2vmax;
  }
  
  button:hover small {
	opacity: 1;
  }
  
  small {
	display: block;
	opacity: 0;
  }
  
  .website {
	opacity: 1;
	font-size: 16px;
	color: white;
	position: relative;
	text-align: center;
	display: block;
	margin-top: 7%;
	
  }
  
  .website a {
	color: white;
  }
  


/************ Footer Section Styling ************/
footer {
	position: relative; 
	padding-top: 3rem;
	bottom: 0;
	width: 100%;
	background: #065446;
	color: #ffeadb;
	font-size: 1.5rem;
	font-weight: 600;
}

.main-content {
	display: flex;
}

.main-content .box {
	flex-basis: 40%;
	padding: 10px 20px;
}

.box h2 {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.box .content {
	margin: 20px 0 0 0;
}

.left .about {
	display: flex;
	flex-direction: column;
}

.about-text {
	margin-left: 1rem;
}

.left .content .social {
	margin: 20px 0 0 0;
}

.left .content p {
	text-align: justify;
}

.left .content .social a {
	padding: 0 2px;
	color: #ffffff;
}

.left .content .social a span {
	height: 40px;
	width: 40px;
	background: #3b5249;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}

.left .content .social a span:hover {
	background: #df6119;
}

.right .content .fas {
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	background: #3b5249;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}
.place {
	display: flex;
}
.right .content .fas:hover {
	background: #df6119;
}

.right .content .text {
	font-size: 1.5rem;
	font-weight: 500;
	padding-left: 10px;
}
.link a {
	text-decoration: underline;
	color: white;
}
.right .content .phone {
	margin: 10px 0;
	display: flex;
}

.center .content ul li {
	list-style: none;
	line-height: 3rem;
}

.center ul li a{
	text-decoration: none;
}

.bottom {
	padding: 5px;
	font-size: 1.5rem;
	font-weight: 600;
	background: #382933;
	text-align: center;
}

.bottom center span {
	color: #ffffff;
}

@media screen and (max-width: 900px) {
	footer {
		position: relative;
		bottom: 0;
	}

	.main-content {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.main-content .box {
		margin: 5px 0;
	}
}

/* Cursor CSS */

.cursor {
	width: 3rem;
	height: 3rem;
	border: 3px solid red;
	border-radius: 50%; 
	position: absolute;
	z-index: 1;
	
	pointer-events: none;
	transition: all 0.3s ease;
	transition-property: background, transform;
	transform-origin: 100% 100%;
	box-shadow: 2px red;
}

.link-grow {
	transform: scale(2);
	color: white;
}

.hovered-link {
	color: white;
	z-index: 0;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
	background: #ddd;
	width: 14px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #00000070;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
	border-radius: 10px;
}